$max-width: 1200px;
$gutter: 20px;
$font-main: 'Lora', 'Times New Roman', serif;
$font-headline: 'Roboto Mono', 'Courier New', monospace;

html {
	font-family: $font-main;
}
body {
	font-family: $font-main;
}
h1 {
	font-family: $font-headline;
}
h3 {
  font-family: $font-main;
}