.header2 {
	//background: url(../img/code.jpg) 50% 50%;
//	background-size: cover;

	h1 {
		font-family: $font_main;
		font-size: 3.75rem;
		font-weight: 600;
		text-align: center;
	}
	h3 {
	 	font-family: $font_headline;
		text-align: center;
	}
}