/*.header { /* stylelint-disable-line */
  //background-image: url("./img/header.jpg");
//}

.header {
	background: url(../img/header.jpg) 50% 50%;
	background-size: cover;

	h1 {
	//	font-family: $font_family_1;
		font-size: 3.75rem;
		font-weight: 600;
		text-align: center;
	}
	h3 {
		//font-family: $font_family_2;
		text-align: center;
	}
}