// a {
//   text-decoration: none;
// }

.container {
  padding: $gutter;
  @media (min-width: 1200px) {
    padding-right: 0;
    padding-left: 0;
  }
}

.lectures {
  @include centered;
  margin-right: auto;
  margin-left: auto;
  @media (min-width: 599px) {
    @include row;
    flex-wrap: wrap;
  }
}

.buttons {
  display: flex;
  justify-content: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
button {
	flex-direction: row;
	padding: 20px;
	font-size: 16px;
	font-family: $font_headline;
	border: 1.2px solid #999;
	background-color: $grey-3;
	border-radius: 5px;
	text-align: center;
}

.image {
	img[src=""] {
		display: hidden;
	}
}

.grey {
  background-color: $grey-3;
  display: table;
  height: 100%;
  width: 100%;
}

.lecture {
  margin-top: $gutter;
  margin-bottom: $gutter;
  color: $black;

  @include columns(12);
  @media (min-width: 500px) {
    @include columns(7);
  }
  @media (min-width: 1200px) {
    @include columns(5);
  }
  @media (min-width: 1500px) {
    @include columns(4);
  }
}
