@import "config";

$font_family_1: 'Lora', 'Times New Roman', serif;
$font_family_2: 'Roboto Mono', 'Courier New', monospace;
$background_color_1: #999;

* {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
	&::before {
		box-sizing: inherit;
	}
	&::after {
		box-sizing: inherit;
	}
}
html {
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: scroll;
	font-family: $font_family_1;
	font-size: 16px;
}

.protection {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
}
.header {
	background: url(../img/code.jpg) 50% 50%;
	background-size: cover;
}
h1 {
	font-family: $font_family_1;
	font-size: 3.75rem;
	font-weight: 600;
	text-align: center;
}
h3 {
	font-family: $font_family_2;
	text-align: center;
}

//@import "fyrirlestur";