@import "config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll; // alltaf hafa y skrollbar

  font-family: $font-main;
  font-size: 16px;
}

main { /* stylelint-disable-line */
  max-width: 1200px;
  margin: 0 auto;
}

p { /* stylelint-disable-line */
	font-family: $font-headline;
}

h1 {
	text-align: center;
	
	font-size: 3.75rem;
	font-weight: 600;
	font-family: $font_main;
}
h3 {
	font-family: $font_headline;
	text-align: center;
}
.buttons {
  display: flex;
  justify-content: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
button {
	flex-direction: row;
	padding: 20 px;
	font-size: 16px;
	font-family: $font_headline;
	border: 1.2px solid #999;
	background-color: $grey-3;
	border-radius: 5px;
	text-align: center;
}
.title {
	font-family: $font_main;
	text-align: left;
	font-size: 24px;
	font-weight: bold;
}

a { /* stylelint-disable-line */
  text-decoration: none;
}

img { /* stylelint-disable-line */
  max-width: 100%;
}

@import "index";
@import "header2";
@import "header";
