@import "config";

$font-main: 'Lora', 'Times New Roman', serif;
$font-headline: 'Roboto Mono', 'Courier New', monospace;

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll; // alltaf hafa y skrollbar

  font-family: $font-main;
  font-size: 16px;
}
.header {
  background-image: url(../img/header.jpg);

}

p {
  font-family: $font-headline;
}

img { /* stylelint-disable-line */
  max-width: 100%;
}

// TODO import
