@import "config";

$font_family_1: 'Lora', 'Times New Roman', serif;
$font_family_2: 'Roboto Mono', 'Courier New', monospace;
$background_color_1: #999;

* {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
	&::before {
		box-sizing: inherit;
	}
	&::after {
		box-sizing: inherit;
	}
}
html {
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: scroll;
	font-family: $font_family_1;
	font-size: 16px;
}

h1 {
	font-family: $font_family_1;
	font-size: 3.75rem;
	font-weight: 600;
	text-align: center;
}
h3 {
	font-family: $font_family_2;
	text-align: center;
}
.buttons {
  display: flex;
  justify-content: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
button {
	padding: 20 px;
	font-size: 16px;
	font-family: $font_family_2;
	border: 1.2px solid #999;
	background-color: $background_color_1;
	border-radius: 5px;
	text-align: center;
}
main {
	max-width: 1200px;
	margin: 0 auto;
}

p { /* stylelint-disable-line */
  font-family: $font-headline;
}

a { /* stylelint-disable-line */
  text-decoration: none;
}


img { /* stylelint-disable-line */
  max-width: 100%;
}

@import "index";
@import "header2";
@import "header";