@import "config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll; // alltaf hafa y skrollbar

  font-family: $font-main;
  font-size: 16px;
}
<<<<<<< HEAD
.main-header {
  margin-bottom: $gutter * 2;
  background-color: $background_color_1;
  width: 100%;
  background-image: url(https://postimg.cc/pyqvnbvJ); //bjó til link á myndina
}

.header {
  &__title {
    margin-bottom: $gutter;

    font-family: $font-heading;
    font-size: 3.75rem;
    font-weight: 600;

    text-align: center;
  }
  &__text {
    font-family: $font-main;
    text-align: center;
  }
}



p {
=======

main { /* stylelint-disable-line */

  max-width: 1200px;
  margin: 0 auto;
}

.header { /* stylelint-disable-line */
  background-image: url("./img/header.jpg");
}

p { /* stylelint-disable-line */
>>>>>>> 6e9a7abb55a4108b6fe4d42223eb606c21f00f63
  font-family: $font-headline;
}

a { /* stylelint-disable-line */
  text-decoration: none;
}


img { /* stylelint-disable-line */
  max-width: 100%;
}

@import "index";
